<heml>
<body>
<pre>
Hello VM
##注释
#*
注释
*#
value1:$!{value1}
$!{value2} ##如果变量不存在 就不显示
${value3}  ##以文本方式显示

#foreach ($color in $colors)
Color $!{foreach.index}/$!{foreach.count}:$!{color}
#end


#foreach ($key in $map.keySet())
Num $!{foreach.index}/$!{foreach.count}:$!{key}  $map.get($key)
#end

#foreach ($kv in $map.entrySet())
Num2 $!{foreach.index}/$!{foreach.count}:$kv.getKey()  $kv.getValue()
#end

User:$user.getName()
User:$!{user.getName()}
User:$!{user.name}

#set($title="ny")
Include:#include("header.vm") <br>
Parse:#parse("header.vm")

#macro (render_color,$color,$index)
Color By Macro $index,$color
#end

#foreach ($color in $colors)
    #render_color($color,$foreach.index)
#end

#set($hello = "hello")
#set($hworld1 = "$!{hello} world")
#set($hworld2 = '$!{hello} world')

hworld1:$hworld1  ##hworld1:hello world

hworld2:$hworld2  ##hworld2:$!{hello} world

</pre>
</body>
</html>